<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="title">Title</label>
              <input class="form-control" type="text" name="campground[title]" id="title" required/>
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="location">Location</label>
              <input class="form-control" type="text" name="campground[location]" id="location" required/>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="campground[image]" id="image" required/>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.0" name="campground[price]" aria-label="price" id="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Choose image(s)</label>
              <input class="form-control form-control-sm" id="image" type="file" multiple name="image">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
          </form>
          <a href="/campgrounds">All Campgrounds</a>
    </div> 
</div>


